################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlockByBlock.Tests
/.vs
/BlockByBlock/ConnectionStrings.config
/BlockByBlock/PrivateSettings.config
